---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Eli y ya - Avatar">
    <main class="aspect-square w-auto flex content-center justify-center p-16">
        <img src="/avatar.jpg" alt="avatar">
    </main>
</Layout>
