---

---

<ul>
    <li>B</li>
    <li>F</li>
    <li>S</li>
    <li>G</li>
    <li>E</li>
</ul>

<style>
    ul {
        display: flex;
        flex-direction: column;
        background-color: #181818;
        color: white;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 48px;
    }
    ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
    }
</style>
