---
import FileItem from "./File.astro";
import FolderItem from "./Folder.astro";

interface Props {
    name: string;
    children: Array<File | Dir>;
    tabs?: number;
}

interface File {
    name: string;
    path: string;
}

interface Dir {
    name: string;
    children: Array<File | Dir>;
}

let { name, children, tabs } = Astro.props;
---

<span style={`padding-left: ${(tabs ?? 2) * 8}px;`}>{name}</span>
{
    children.map((child) =>
        (child as Dir).children?.length ? (
            <FolderItem {...(child as Dir)} tabs={(tabs ?? 2) + 1} />
        ) : (
            <FileItem {...(child as File)} tabs={(tabs ?? 2) + 1} />
        ),
    )
}

<style>
    span:hover {
        background-color: #37373d;
    }

    span::before {
        content: "";
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        width: 8px;
        height: 8px;
        display: inline-block;
        transform: rotate(45deg);
        position: relative;
        top: -1px;
        left: -8px;
    }
</style>
