---

---

<footer>
    <ul>
        <li>
            <a class="github" href="https://github.com/eliyya/">GitHub</a>
        </li>
        <li>
            <a href="https://github.com/eliyya/eliyya.github.io">portfolio</a>
        </li>
    </ul>
    <ul>
        <li>Ln 1, Col 1</li>
        <li>Tab Size: 4</li>
        <li>UTF-8</li>
        <li>LF</li>
        <li>TypeScript</li>
        <li>N</li>
    </ul>
</footer>

<style>
    footer {
        /* background: rgb(var(--accent)); */
        background-color: #181818;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 22px;
    }

    footer ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        align-items: center;
    }
    footer ul li {
        font-size: 12px;
        display: flex;
        height: 100%;
        align-items: center;
    }
    footer ul li a {
        padding: 0 5px;
        color: white;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
    }
    footer ul li:not(:has(a)) {
        padding: 0 10px;
        color: white;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .github {
        background-color: #0078d4;
    }
</style>
