---

---

<header>
    <div>
        <button>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 16 16"
                fill="none"
            >
                <path
                    d="M6.50001 10.7L4.00001 8.2L4.00001 7.5L6.50001 5L7.21001 5.7L5.57001 7.35L11.14 7.35L11.14 8.35L5.57001 8.35L7.22001 10L6.50001 10.7Z"
                    fill="#C5C5C5"></path>
            </svg>
        </button>
        <button>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 16 16"
                fill="none"
            >
                <path
                    d="M8.64 4.99995L11.14 7.49995L11.14 8.19995L8.64 10.7L7.93 9.99995L9.57 8.34995L4 8.34995L4 7.34995L9.57 7.34995L7.92 5.69995L8.64 4.99995Z"
                    fill="#C5C5C5"></path>
            </svg>
        </button>
    </div>
    <search><input type="text" /></search>
    <div>
        <button>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
            >
                <path
                    d="M14 1H3L2 2V13L3 14H14L15 13V2L14 1ZM14 13H3V8H14V13ZM14 7H3V2H14V7Z"
                    fill="#C5C5C5"></path>
            </svg>
        </button>
        <button>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
            >
                <path
                    d="M14 1H3L2 2V13L3 14H14L15 13V2L14 1ZM8 13H3V2H8V13ZM14 13H9V2H14V13Z"
                    fill="#C5C5C5"></path>
            </svg>
        </button>
        <button>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
            >
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1 1H15V15H1V1ZM2 14H14V2H2V14ZM4.00008 5.70709L4.70718 4.99999L8.24272 8.53552L7.53561 9.24263L7.53558 9.2426L4.70711 12.0711L4 11.364L6.82848 8.53549L4.00008 5.70709Z"
                    fill="#C5C5C5"></path>
            </svg>
        </button>
    </div>
</header>

<style>
    header {
        /* background: rgb(var(--accent)); */
        background-color: #29353b;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 35px;
        min-height: 35px;
        flex-wrap: nowrap;
        gap: 10px;
        padding: 0 10px;

        > div {
            flex-grow: 1;
            gap: 8px;
            display: flex;
            justify-content: flex-end;
        }

        > search > input {
            background: #1e2429;
            border: none;
            border-radius: 3px;
            height: 22px;
            color: white;
        }
    }
</style>
