---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- clone of visual studio code -->
		<header>
			<div><button>i</button><button>d</button></div>
			<search><input type="text" /></search>
			<div>
				<button>a</button>
				<button>b</button>
				<button>c</button>
				<button>d</button>
			</div>
		</header>
		<div class="left">
			<ul>
				<li>F</li>
				<li>S</li>
				<li>G</li>
				<li>E</li>
			</ul>
			<aside>
				<header>Explorer</header>
				<nav>
					<div>
						<span>public</span>
						<a href="#">favicon.svg</a>
					</div>
					<div>
						<span>src</span>
						<div>
							<span>components</span>
							<a href="#">Card.astro</a>
						</div>
						<a href="#">README.md</a>
					</div>
				</nav>
			</aside>
			<!-- <slot /> -->
			<main>holi</main>
		</div>
		<footer>
			<ul>
				<li>
					<a class="github" href="https://github.com/eliyya/"
						>GitHub</a
					>
				</li>
				<li>
					<a href="https://github.com/eliyya/eliyya.github.io"
						>portfolio</a
					>
				</li>
			</ul>
			<ul>
				<li>Ln 1, Col 1</li>
				<li>Tab Size: 4</li>
				<li>UTF-8</li>
				<li>LF</li>
				<li>TypeScript</li>
				<li>N</li>
			</ul>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
	header {
		/* background: rgb(var(--accent)); */
		background-color: #29353b;
		color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 35px;
		max-height: 35px;
		flex-wrap: nowrap;
		gap: 10px;
		padding: 0 10px;
	}
	header > div {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
	}
	header > search > input {
		background: #1e2429;
		border: none;
		border-radius: 3px;
		height: 22px;
		color: white;
	}
	.left {
		display: flex;
		flex-grow: 1;
	}
	footer {
		/* background: rgb(var(--accent)); */
		background-color: #181818;
		color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 22px;
	}

	footer ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
		align-items: center;
	}
	footer ul li {
		font-size: 12px;
		display: flex;
		height: 100%;
		align-items: center;
	}
	footer ul li a {
		padding: 0 5px;
		color: white;
		text-decoration: none;
		height: 100%;
		display: flex;
		align-items: center;
	}
	footer ul li:not(:has(a)) {
		padding: 0 10px;
		color: white;
		text-decoration: none;
		height: 100%;
		display: flex;
		align-items: center;
	}
	.github {
		background-color: #0078d4;
	}
</style>
